.ScreenAdapter{
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.3s;
    display: flex;
}
.ScreenAdapter2{
    transform-origin: 0 0;
    position: absolute;
    left: 16.67%;
    top: 50%;
    transition: 0.3s;
    display: flex;
}